
    {% extends "partials/layout.njk"%}
    {% block title %} add{% endblock %}
     {% block content %}
     {% if errors %}
     <ul>
        {% for error in errors %}
        <li>{{error}}</li>
        {% endfor %}
     </ul>
      {% endif %}
    <form action="/register" method="POST">
    <div class="mb-3">
        <label for="name" class="form-label">name</label>
       <input id="name" class="form-control" type="text" placeholder="name" name= "name">
        </div>
        <div class="mb-3">
          <label for="email" class="form-label">email</label>
       <input id="email" class="form-control" type="text" placeholder="email" name= "email">
        </div>
        <div class="mb-3">
         <label for="password" class="form-label">password</label>
       <input id="password" class="form-control" type="password" placeholder="password" name= "password">
        </div>
        <div class="mb-3">
         <label for="password_confirm" class="form-label">password confirm</label>
       <input id="password_confirm" class="form-control" type="password" placeholder="password_confirm" name= "password_confirm">
        </div>
        <input class="btn btn-info"type="submit" value = "Register">
    </form>
    {% endblock %}