
    {% extends "partials/layout.njk"%}
    {% block title %} movies{% endblock %}
     {% block content %}
    <a class="btn btn-primary"href="/movies/add">ADD</a>
    <table class="table table-striped table-hover table-bordered">
        <thead>
            <div class="mb-3">
               <th>ID</th>
            </div>
            <div class="mb-3">
                <th>name</th>
            </div>
            <div class="mb-3">
                <th>year</th>
    	    </div>
            <div class="mb-3">
                <th>description</th>
            </div>
            <div class="mb-3">
                <th>user</th>
            </div>
            <div class="mb-3">
             <th>actions</th>
            </div>
        </thead>
        <tbody>
            {% for movie in movies%}
            <tr>
                <td>{{movie.id}}</td>
                <td>{{movie.name}}</td>
                <td>{{movie.year}}</td>
                <td>{{movie.description}}</td>
                 <td>{{movie.User.name}}</td>
                <td>
                    <div class="btn-group">
                    <a class="btn btn-info" href="/movies/view?id={{movie.id}}">view</a>
                    <a class="btn btn-warning" href="/movies/edit/{{movie.id}}">edit</a>
                    <a class="btn btn-danger" href="/movies/delete/{{movie.id}}">delete</a>
                    </td>
                    </div>
            </tr>
          {% endfor %}
        </tbody>
    </table>
    {% endblock %}
