    {% extends "partials/layout.njk"%}
    {% block title %} add{% endblock %}
     {% block content %}

       <style>
        table, th, td {
            border: 1px solid black;
        }
        </style>
   
            <table>
                <tbody>
                    <tr>
                        <div class="mb-3">
                            <th>ID</th>
                            <td>{{movie.id}}</td>
                        </div>
                    </tr>
                       <tr>
                        <div class="mb-3">
                            <th>name</th>
                            <td>{{movie.name}}</td>
                        </div>
                    </tr>
                    <tr>
                        <div class="mb-3">
                            <th>year</th>
                            <td>{{movie.year}}</td>
                        </div>
                    </tr>
                    <tr>
                        <div class="mb-3">
                            <th>description</th>
                            <td>{{movie.description}}</td>
                        </div>
                    </tr>
                </tbody>
            </table>
    {% endblock %}